
<!--Navbar-->
<nav>
    <div class="nav-wrapper flow-text">
        <a href="#" class="brand-logo left ">Logo</a>
        <ul id="nav-mobile" class="right ">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li>
                <form>
                    <div class="input-field">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search">
                            <i class="material-icons flow-text">search</i>
                        </label>
                        <i class="material-icons flow-text">close</i>
                    </div>
                </form>
            </li>
            <li><a href="collapsible.html" [routerLink]="['/login']" >{{ 'LOGIN' | translate }}</a></li>
        </ul>
    </div>
</nav>
<!--

<div>
    <h2>{{ 'HOME' | translate }}</h2>
    <label>
        {{ 'HOME' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
    </label>
</div>
-->

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        Kolya
    </p>
</div>